<ngx-charts-line-chart
        style="position: static; display: inline-block; transform: none;"
        [view]="view"
        class="chart-container"
        [scheme]="color"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="true"
        [legend]="false"
        [legendTitle]="'Legend'"
        [legendPosition]="'right'"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxisLabel]="'angle'"
        [yAxisLabel]="'radius'"
        [autoScale]="false"
        [timeline]="false"
        [showGridLines]="false"
        [curve]="curves['Monotone X']"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="true"
        [tooltipDisabled]="false"
        [trimXAxisTicks]="true"
        [trimYAxisTicks]="true"
        [showRefLines]="true"
        [showYaxisLine]="showYaxisLine"
        [showXaxisLine]="showXaxisLine"
        (select)="select($event)"
        [yAxisTicks]="yTickValue">
    </ngx-charts-line-chart> 
