<ngx-charts-bar-vertical *ngIf="!double"
style="position: static; display: inline-block; transform: none;"
[view]="view"
class="chart-container"
[scheme]="color"
[schemeType]="schemeType"
[results]="data"
[animations]="true"
[gradient]="true"
[legend]="false"
[xAxis]="true"
[yAxis]="true"
[showXAxisLabel]="false"
[showYAxisLabel]="false"
[roundEdges]="true"
[showGridLines]="true"
[roundDomains]="true"
>

</ngx-charts-bar-vertical>
<ngx-charts-bar-vertical-2d *ngIf="double"
style="position: static; display: inline-block; transform: none;"
[view]="view"
class="chart-container"
[schemeType]="schemeType"
[scheme]="colorScheme"
[results]="data"
[animations]="true"
[gradient]="true"
[xAxis]="true"
[yAxis]="true"
[showXAxisLabel]="false"
[showYAxisLabel]="false"
[roundEdges]="true"
[showGridLines]="true"
[roundDomains]="true"
>

</ngx-charts-bar-vertical-2d>
