<div class="modal-body">
    <div class="drivata-form">


        <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
            <p translate>Invite Driver</p><br>

            <select name="group" formControlName="groupId">
                <option *ngFor="let group of groups" [value]="group.groupId">{{group.name}}</option>
            </select>
            <input type="text" placeholder="First name" formControlName="firstName">
            <input type="text" placeholder="Last name" formControlName="lastName">
            <input type="text" placeholder="email" formControlName="email">
            <div class="actions">
                <span aria-hidden="true" (click)="activeModal.dismiss('Cross click')" translate>Cancel</span>
                <button type="submit" class="btn btn-primary">
                    <span aria-hidden="true" translate>Send</span>
                </button>
            </div>
        </form>
    </div>
</div>