.drivata-default-screen{
    height: 100vh;
    // background-image: linear-gradient(74deg,#0951f9 0%,#55bfed 100%)!important;
    background-color: #172957;
    img{
        width: 180px;
    margin-top: 1%;
    margin-left: 1%;
    }
   //
}