<!-- <div class="conatiner">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div>
        <h5 class="Challenger" href="#">Challenger</h5>
        <span class="span1"></span>


      </div>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
          
            <input class=" Rectangle-Copy-60" type="search" placeholder="Search" aria-label="Search">
           </div>
           <div>
         
          </div>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn  Rectangle-Copy-16" type="submit">Create Challenge</button>
          </form>
          
        

      </nav>
</div>
 -->
 
<div class="header">
  <nav class="navbar">
    <ul  class="header-title">
      <li class="header-content">
      challenge
      </li>
      
      <li class="header-content">
        <i class="challenge-icon"></i>
        25 challenges
        <form >
      <input class=" Rectangle-Copy-60 header-content" type="search" placeholder="Search" aria-label="Search">
        </form>
      </li>
      
    </ul>
  </nav>
    
  
  
</div>
